<a href="/pokemons">Pokemon Index</a>

<h1><%= @pokemon.title %></h1>

<p><%= @pokemon.description %></p>

<%= button_to "Edit", "/edit"(@pokemon), method: :get, class: "edit-button" %>


<p><a href="<%= welcome_path(@pokemon) %>">Return to Main Page</a></p>
